absl-py==2.1.0
accelerate==1.4.0
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1725434011349/work
aiohttp==3.8.4
aiohttp-cors==0.7.0
aiosignal==1.3.1
airportsdata==20250224
alembic==1.14.1
annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio==4.4.0
appdirs==1.4.4
APScheduler==3.11.0
astor==0.8.1
async-timeout==4.0.2
asyncer==0.0.8
attrs==23.1.0
autocommand==2.2.2
backoff==2.2.1
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
-e git+https://github.com/bitsandbytes-foundation/bitsandbytes.git@b8223fed8aa3f6422f2426828f358f760e208a52#egg=bitsandbytes
blake3==1.0.4
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1696148805003/work
Brotli @ file:///croot/brotli-split_1714483155106/work
bs4==0.0.2
cachetools==5.5.1
catalogue @ file:///croot/catalogue_1703688140886/work
certifi==2023.5.7
cffi==1.17.1
charset-normalizer==3.1.0
click @ file:///croot/click_1698129812380/work
cloudpathlib @ file:///croot/cloudpathlib_1704812255811/work
cloudpickle==3.1.1
colorama @ file:///croot/colorama_1672386526460/work
coloredlogs==15.0.1
colorful==0.5.6
colorlog==6.9.0
compressed-tensors==0.9.1
confection @ file:///croot/confection_1703694702568/work
contourpy==1.3.1
cryptography==43.0.3
cycler==0.12.1
cymem @ file:///opt/conda/conda-bld/cymem_1651237256138/work
Cython==3.0.11
dataclasses-json==0.6.7
datasets==3.2.0
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro @ file:///croot/distro_1714488253808/work
dnspython==2.7.0
docker-pycreds @ file:///Users/ktietz/demo/mc3/conda-bld/docker-pycreds_1630654474270/work
dspy==2.6.2
duckduckgo_search==6.3.4
einops==0.8.1
email_validator==2.2.0
emoji==2.14.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
faiss==1.7.4
fastapi==0.115.8
fastapi-sso==0.16.0
filelock==3.15.4
FlashRank==0.2.9
flatbuffers==24.3.25
fonttools==4.56.0
frozenlist==1.3.3
fsspec==2024.6.1
futures==3.0.5
gdown==5.2.0
gguf==0.10.0
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///croot/gitpython_1720455034730/work
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
google-api-core==2.24.1
google-auth==2.38.0
googleapis-common-protos==1.68.0
googlesearch-python==1.2.5
goslate==1.5.4
greenlet @ file:///croot/greenlet_1702059959679/work
grpcio==1.70.0
gunicorn==22.0.0
gym==0.26.2
gym-notices==0.0.8
h11 @ file:///croot/h11_1706652277403/work
httpcore @ file:///croot/httpcore_1706728464539/work
httptools==0.6.4
httpx @ file:///croot/httpx_1723474802858/work
httpx-sse==0.4.0
huggingface-hub==0.28.1
humanfriendly==10.0
idna==3.4
importlib_metadata==8.5.0
inflect==7.3.1
inquirerpy==0.3.4
interegular==0.3.3
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2 @ file:///croot/jinja2_1716993405101/work
jiter==0.5.0
joblib @ file:///croot/joblib_1718217211762/work
json_repair==0.36.0
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1730512364468/work
langchain-community==0.3.6
langchain-core==0.3.16
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1730512688028/work
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1731113966936/work
language_data==1.2.0
lark==1.2.2
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/lightgbm_1722621233589/work
litellm==1.57.4
lm-format-enforcer==0.10.11
magicattr==0.1.6
Mako==1.3.9
marisa-trie==1.2.0
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marshmallow==3.23.1
matplotlib==3.10.1
mdurl @ file:///opt/conda/conda-bld/mdurl_1659716024347/work
mistral_common==1.5.3
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
more-itertools==10.3.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.1.0
msgspec==0.19.0
multidict==6.0.4
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1720002482208/work
nltk @ file:///croot/nltk_1724427688180/work
nmslib==2.0.6
numpy==1.24.3
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
ollama==0.4.7
onnxruntime==1.16.3
openai==1.61.1
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.11.0.86
optuna==4.2.1
orjson @ file:///croot/orjson_1728486951572/work/target/wheels/orjson-3.10.7-cp310-cp310-linux_x86_64.whl#sha256=96df0ec5d3a47f310a14bc6aa51b30b27e4b528110df774f5aeb8bac71be6c51
outlines==0.1.11
outlines_core==0.1.26
packaging @ file:///croot/packaging_1720101850331/work
pandas==2.0.3
partial-json-parser==0.2.1.1.post5
pfzy==0.3.4
pillow==10.4.0
platformdirs @ file:///croot/platformdirs_1692205439124/work
pooch @ file:///croot/pooch_1695850093751/work
preshed @ file:///opt/conda/conda-bld/preshed_1651240927559/work
primp==0.7.0
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.1
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==4.25.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1719274566094/work
py-cpuinfo==9.0.0
py-spy==0.4.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1725346618850/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1725346618850/work
pycountry==24.6.1
pycparser==2.22
pydantic @ file:///croot/pydantic_1734736067156/work
pydantic-settings==2.6.1
pydantic_core @ file:///croot/pydantic-core_1734726052986/work
PyDictionary==2.0.1
Pygments @ file:///croot/pygments_1684279966437/work
pyjnius==1.6.1
PyJWT==2.10.1
PyNaCl==1.5.0
pyparsing==3.2.3
pyserini==0.37.0
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.18
pytz==2024.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq==26.2.1
ray==2.43.0
redis==5.2.1
referencing==0.35.1
regex==2024.7.24
requests==2.31.0
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
rerankers==0.6.0
rich @ file:///croot/rich_1720637495510/work
rouge_score==0.1.2
rpds-py==0.21.0
rq==2.1.0
rsa==4.9
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.10.1
sentencepiece==0.2.0
sentry-sdk @ file:///opt/conda/conda-bld/sentry-sdk_1659784545415/work
setproctitle @ file:///home/builder/ci_310/setproctitle_1640794625835/work
shellingham @ file:///croot/shellingham_1669142169426/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///opt/conda/conda-bld/smart_open_1651563547610/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve==2.6
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1722252006613/work
spacy-legacy @ file:///croot/spacy-legacy_1684141107874/work
spacy-loggers @ file:///croot/spacy-loggers_1684138701730/work
SQLAlchemy @ file:///croot/sqlalchemy_1725885050993/work
srsly @ file:///croot/srsly_1703691906109/work
stanza==1.10.1
starlette==0.45.3
sympy==1.12
tenacity @ file:///croot/tenacity_1721222508356/work
tensorrt-cu12==10.0.1
tensorrt-cu12-bindings==10.0.1
tensorrt-cu12-libs==10.0.1
thinc @ file:///croot/thinc_1704703966695/work
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.21.0
tomli==2.0.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.65.0
transformers==4.49.0
triton==3.1.0
typeguard==4.3.0
typer @ file:///croot/typer_1684251874311/work
typing-inspect==0.9.0
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
urllib3==2.0.2
uvicorn==0.22.0
uvloop==0.21.0
virtualenv==20.29.2
vllm==0.7.2
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1724878271132/work
wasabi @ file:///opt/conda/conda-bld/wasabi_1651237317563/work
watchfiles==1.0.4
wcwidth==0.2.13
weasel @ file:///croot/weasel_1704815753318/work
websockets==15.0
Wikipedia-API==0.7.1
wrapt==1.16.0
xformers==0.0.28.post3
xgrammar==0.1.14
xxhash==3.5.0
yarl==1.9.2
zipp==3.21.0
